---
import Animation from '../components/Animation.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Map from '../components/Map.astro';
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import Contact from '../components/Contact.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import Footer from '../components/Footer.astro';
import Net from '../components/Net.astro';
---

<Layout title="Plastigesa | Fábrica de bolsas plásticas">
	<Navbar />
	<main>
		<Hero />
		<Animation />
	</main>
	<About />
	<Gallery />
	<Net />
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 lg:py-16 mx-auto max-w-screen-xl text-center ">

			
		<h2 class="bottom-element mb-8 text-3xl font-extrabold text-center tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Ubícanos</h2>
        <p class="bottom-element mb-8 text-lg font-normal text-center text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200 text-pretty">Nuestra Tienda Principal: Av. Simón Bólivar N° 314 Mariano Melgar - Arequipa.</p>
		<div class="flex flex-col gap-y-4 lg:flex-row lg:gap-x-4 ">
			
			<Map />
			<Contact />
		</div>
	</div>
	</section>
	<Footer />
</Layout>

