---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Plastigesa | Línea de productos">
	<main class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
			<div class="mb-8">
				<h2 class="bottom-element mb-8 text-3xl font-extrabold text-center tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Línea de productos</h2>
				<p  class="bottom-element mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200 text-pretty"
				>Ofrecemos los mejores productos en plásticos, como bolsas, mangas y cintas.</p>
			</div>
			<div class="mb-8 bottom-element">
				<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
					<ul class="grid grid-cols-1 gap-y-8 lg:grid-cols-3">
						<li >
							<Card
								imageSrc="/img/products/bolsa-basura.webp"
								title="Bolsas de Basura"
								description="Bolsas de basura en variedad de medidas comerciales (25 LT, 35 LT, 50 LT, 75 LT, 140 LT, 220 LT) y espesores en colores (negro, azul, amarillo, rojo, blanco, verde)."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-biodegradable.webp"
								title="Bolsas Biodegradables"
								description="Bolsas negras 220 LT biodegradables con fuelle, grandes y de características comerciales."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-roja.webp"
								title="Bolsas Rojas"
								description="Bolsas rojas para desechos orgánicos y biológicos en 75 LT con fuelle, comúnmente usadas en hospitales y clínicas."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-cristal.webp"
								title="Bolsas Cristal"
								description="Bolsas transparentes en una gran variedad de medidas."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-ziploc.webp"
								title="Bolsas con Cierre ZipLoc"
								description="Bolsas herméticas transparentes en una gran variedad de medidas para almacenar alimentos y accesorios."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-con-asa.webp"
								title="Bolsas con Asa"
								description="Bolsas con asa en medidas comerciales (8 x 12, 12 x 16, 16 x 19, 21 x 24, 27 x 32) en colores (blanco, rojo, negro, amarillo), venta por paquete de 100 unidades."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-mineria.webp"
								title="Bolsas para Minería"
								description="Bolsas transparentes para minerales, bolsas gruesas."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-rollo.webp"
								title="Bolsas en Rollo"
								description="Bolsas en rollo en medidas (3 x 8, 4 x 8, 5 x 10, 8 x 12, 10 x 15, 12 x 17) desglosables."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-almacigo_1.webp"
								title="Bolsas para Almácigos"
								description="Bolsas negras para almácigos (con fuelle), gran variedad de medidas y espesores, utilizadas para plantas, cultivos y viveros."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-hielo.webp"
								title="Bolsas para Hielos"
								description="Bolsas transparentes diseñadas exclusivamente para hielos."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/bolsa-vacio.webp"
								title="Bolsas al Vacío"
								description="Bolsas al vacío para almacenar alimentos y mantenerlos frescos. También vendemos la selladora al vacío."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/strech-film_1.webp"
								title="Stretch Film"
								description="Plástico estirable transparente en las siguientes medidas: 3, 6, 9, 12, 15, 18 y 20 pulgadas de largo."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/duct-tape_1.webp"
								title="Duct Tape"
								description="Cinta de embalaje súper resistente y alta adhesión, impermeable al agua en medidas 2 x 10 yd y 2 x 30 yd."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/cinta-embalaje_1.webp"
								title="Cinta de Embalaje"
								description="Cintas de embalaje transparente en variedad de medidas (70 yd, 90 yd, 100 yd, 110 yd, 200 yd, 400 yd)."
							/>
						</li>
						<li >
							<Card
								imageSrc="/img/products/cinta-fragil.webp"
								title="Cinta Frágil"
								description="Cinta frágil para embalar envases de productos con contenido frágil."
							/>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</main>
</Layout>