---
interface Props {
    image: string;
    title: string;
    description: string;
}

const { image, title, description } = Astro.props;
---

<article class=" mx-auto p-4 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 w-80 h-96">
    <img src={image} alt={title} class="w-56 h-64 object-cover mx-auto">
    <div class="mt-4">
        <h3 class="text-2xl font-semibold tracking-tight text-green-700 dark:text-green-300">{title}</h3>
        <p class="text-lg text-gray-600 dark:text-gray-300">{description}</p>
    </div>
</article>
