---
import Card from "../components/Card.astro";
import ArrowRightIcon from "../icons/ArrowRight.astro"
---

<section id="productos" class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <div class="mb-8">
            <h2 class="bottom-element mb-8 text-3xl font-extrabold text-center tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Línea de productos</h2>
            <p  class="bottom-element mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200 text-pretty"
            >Ofrecemos los mejores productos en plásticos, como bolsas, mangas y cintas.</p>
        </div>
        <div class="glide mb-8 bottom-element">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides flex space-x-4">
                    <li class="glide__slide">
                        <Card
                            imageSrc="/img/products/cintas.webp"
                            title="Duct tape"
                            description="Cinta de embalaje súper resistente y alta adhesión, impermeable al agua en dos medidas 2 x 10yd y 2 x 30yd"
                        />
                    </li>
                    <li class="glide__slide">
                        <Card
                            imageSrc="/img/products/cinta-embalaje.webp"
                            title="Cinta de embalaje"
                            description="Cintas de embalaje transparente en variedad de medidas (70yd, 90yd, 100yd, 110yd, 200yd, 400yd)"
                        />
                    </li>
                    <li class="glide__slide">
                        <Card
                            imageSrc="/img/products/rafia.webp"
                            title="Rollo de rafia"
                            description="Rollos de rafia trenzada, torcida y plana, los colores del rollo son mezclados. Venta por kilo."
                        />
                    </li>
                    <li class="glide__slide">
                        <Card
                            imageSrc="/img/products/sacos-polipropileno.webp"
                            title="Sacos de polipropileno"
                            description="Sacos de polipropileno 50kg, 80kg, 120kg en colores blanco, negro y colores payaso."
                        />
                    </li>
                    <li class="glide__slide">
                        <Card
                            imageSrc="/img/products/strech-film.webp"
                            title="Strech film"
                            description="Strech film, plástico estirable transparente en las siguientes medidas, 3-6-9-12-15 y 20 pulgadas de largo."
                        />
                    </li>
                    <li class="glide__slide">
                        <Card
                            imageSrc="/img/products/bolsa-almacigo.webp"
                            title="Bolsas para almácigos"
                            description="Bolsas negras para almácigos (con fuelle), el uso que le dan son para plantas, cultivos y viveros."
                        />
                    </li>
                </ul>
            </div>
        </div>
        <a class="bottom-element text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" href="productos">
            Ver más
            <ArrowRightIcon class="w-6 h-6 inline-block ml-2" />
        </a>     
    </div>
</section>

<script>
    declare var Glide: any;
    new Glide(".glide", {
        type: "carousel",
        autoplay: 3500,
        perView: 3,
        gap: 20,
        breakpoints: {
            1024: {
                perView: 3,
            },
            992: {
                perView: 2,
            },
            640: {
                perView: 1,
            },
        },
    }).mount();
</script>
