<section class="bg-white dark:bg-gray-900" id="atencion">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h2 class="bottom-element mb-8 text-3xl font-extrabold text-center tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Tiendas y oficinas</h2>
        <div>
            <p class="bottom-element mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200 text-pretty">Contamos con oficinas para mayor comodidad de nuestros clientes, usted puede visitarnos o realizar su pedido, con la seguridad que le haremos el despacho a donde lo requiera.</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="bottom-element">
                <img src="/img/bolsa.webp" alt="bolsa">
            </div>
            <div class="grid grid-cols-1 items-center justify-items-center pt-8 gap-y-4 lg:pt-0 lg:gap-y-0">
                <img class="bottom-element p-4 size-60 border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" src="/img/qr-1.webp" alt="qr atencion cliente">
                <p class="bottom-element text-lg font-normal text-gray-500 lg:text-xl sm:px-16 dark:text-gray-200">Consulta con nuestros asesores para ralizar tu pedido y te lo despachamos directamente hasta tu puerta. </p>
                <img class="bottom-element p-4 size-60 border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 " src="/img/qr-2.webp" alt="qr atencion cliente">
            </div>
        </div>
    </div>
</section>