---
import WhatsAppIcon from "../icons/WhatsApp.astro";
---

<div class="fixed end-6 bottom-6 group">
    <a href="#" class="flex items-center justify-center text-white bg-green-700 rounded-full w-14 h-14 hover:bg-green-800 dark:bg-green-600 dark:hover:bg-green-700">
        <WhatsAppIcon />
        <span class="sr-only">Abrir WhatsApp</span>
    <a/>
</div>
